*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --mainWhite: #f6f7f9;
  --mainBlack: #333;

  --mainOrange-3: #7b4404;
  --mainOrange-2: #ac5f06;
  --mainOrange-1: #dd7a08;
  --mainOrange: #f7901c;
  --mainOrange1: #f89f3a;
  --mainOrange2: #fab76b;
  --mainOrange3: #fbcf9d;
  --mainOrange4: #fde7ce;

  --mainBlue-3: #041a2f;
  --mainBlue-2: #09345d;
  --mainBlue-1: #0d4f8c;
  --mainBlue: #105fab;
  --mainBlue1: #1683e9;
  --mainBlue2: #5ca8f0;
  --mainBlue3: #8ac1f4;
  --mainBlue4: #b9daf8;

  --fullBlack: #000;

  --fullWhite: #fff;

  --lightYellow: #ffff66;

  --mainRed-3: #7f010f;
  --mainRed-2: #b20116;
  --mainRed-1: #e4011c;
  --mainRed: #fe132f;
  --mainRed1: #fe344c;
  --mainRed2: #fe6778;
  --mainRed3: #fe9aa5;
  --mainRed4: #ffccd2;

  --grey1: #222;
  --grey2: #444;
  --grey3: #666;
  --grey4: #888;
  --grey5: #aaa;
  --grey6: #ccc;
  --grey7: #eee;

  --errorRed: #ce1134;
  --errorRedBackground: #fdf3f4;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--fullWhite);
  color: var(--mainBlack);
  line-height: 1.6;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: var(--mainBlack);
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--grey5);
  border-radius: 0.3em;
}

button {
  padding: 10px 20px;
  font-size: 1.15rem;
  border: 1px solid transparent;
  border-radius: 0.3em;
  background-color: var(--mainOrange);
  color: var(--mainWhite);
  cursor: pointer;
}
