<html>
<head>
  <style>
    li {
      font-size: 20px;
      font-weight: 400;
      font-family: Arial;
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>
  <!-- <h1>This is an API that returns JSON</h1>
  <h2>End points</h2>
  <ul>
    <li>api/v1/application_users</li>
    <ul>
      <li>POST /</li>
      <li>POST /signin</li>
      <li>GET /{user_id}</li>
    </ul>
    <li>api/v1/products</li>
    <ul>
      <li>POST (Admin) /</li>
      <li>GET /{id}</li>
      <li>GET /</li>
    </ul>
  </ul> -->
  For the API endpoints go to: /swagger/v1/swagger.json
</body>
</html>
